<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.nathanaccidentally.dockprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.nathanaccidentally.dockprefs</string>
			<key>key</key>
			<string>hideLabels</string>
			<key>label</key>
			<string>Hide Labels 🔎</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.nathanaccidentally.dockprefs</string>
			<key>key</key>
			<string>floatDock</string>
			<key>label</key>
			<string>Floating Dock 👻</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Floating Dock Settings</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSEditTextCell</string>
    		<key>placeholder</key>
   		 	<string>470</string>
   		 	<key>bestGuess</key>
   		 	<string>470</string>
   		 	<key>defaults</key>
   		 	<string>com.nathanaccidentally.dockprefs</string>
   			<key>isNumeric</key>
   		 	<true/>
   		 	<key>key</key>
   		 	<string>floatyvalue</string>
   		 	<key>label</key>
    		<string>Y Value ☝️</string>
		</dict>
		<dict>
    		<key>cell</key>
    		<string>PSEditTextCell</string>
    		<key>placeholder</key>
    		<string>com.apple.Maps</string>
    		<key>bestGuess</key>
    		<string>com.apple.Maps</string>
    		<key>defaults</key>
    		<string>com.nathanaccidentally.dockprefs</string>
    		<key>key</key>
    		<string>iconOneId</string>
    		<key>label</key>
    		<string>Icon 1 Bundle ID 🌙</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate 🎉</string>
		</dict>
		<dict>
			<key>action</key>
			<string>tweetMe</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Tweet Me 🐧</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Thanks for using Dock! Built by nathanaccidentally.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Dock</string>
</dict>
</plist>
